<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Lyric emotion search
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="form-group col-sm-9">
      <label>Текст</label>
      <input class="form-control" 
             type="text"
             [(ngModel)]="filter.term" />
    </div>
    <div class="form-group col-sm-3">
      <label>Емоция</label>
      <select class="form-control"
             [(ngModel)]="filter.emotion">
        <option value="happy">Щастие</option>
        <option value="angry">Ярост</option>
        <option value="sad">Тъга</option>
        <option value="relaxed">Спокойствие</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 pull-right">
      <button class="btn btn-primary btn-md"
              (click)="search()">
            Търсене
      </button>
    </div>
  </div>
  <div style="margin-top: 20px">
    <table class="table table-bordered">
      <tr style="font-weight: bold">
        <td class="col-sm-1">Щастие</td>
        <td class="col-sm-1">Ярост</td>
        <td class="col-sm-1">Тъга</td>
        <td class="col-sm-1">Спокойствие</td>
        <td class="col-sm-2">Изпълнител</td>
        <td class="col-sm-2">Име</td>
        <td class="col-sm-4">Текст</td>
      </tr>
      <tr *ngFor="let item of results">
        <td>{{item.happy_score}}</td>
        <td>{{item.angry_score}}</td>
        <td>{{item.sad_score}}</td>
        <td>{{item.relaxed_score}}</td>
        <td>{{item.author}}</td>
        <td>{{item.song_name}}</td>
        <td>{{item.lyrics}}</td>
      </tr>
    </table>
  </div>
</div>

